
body{
    background-color: #3498db;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1 {
    text-align: center;
    background-color: #010101;
    color: white;
    margin: 0;
    padding: 20px;
}

h2{
    text-align: center;
    color: white;
}

p{
    text-align: center;
    background-color: #3498db;
    font-size: 30px;
}